body {
    background: url(/img/blobsLeft.webp) 0 0 no-repeat, url(/img/blobsRight.webp) 100% 100% no-repeat;
    background-color: #2D3E50;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    color: white;
    text-align: center;
    font-weight: 700;
    margin-top: -40px;
    font-size: 50px;
}

.subtitle {
    color: white;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    padding-bottom: -10px;
}

.login-input {
    padding-top: 20px;
    text-align: center;
    color: white;
}

.login-input input {
    background-color: #2D3E50;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: rgb(153, 172, 194);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 22px;
    text-align: center;
    color: white;
    width: 350px;
}

.login-input span {
    transform: translateY(24px);
    display: block;
    line-height: 22px;
    font-size: 19px;
    margin-bottom: 0;
    transition: color .3s, font-size .3s, transform .3s;
    font-weight: 1;
}


.button {
    padding-top: 50px;
    text-align: center;
}

.tombol {
    background-color: #ff914d;
    border: 0;
    border-radius: 30px;
    width: 300px;
}
.tombol:hover{
    background-color: #e599f7;
}
p{
    padding-top: 20px;
    text-align: center;
    color: white;
}

p a{
    color:#e599f7 ;
}
.subtitle{
font-family: 'Pacifico', cursive;
color: #e599f7;
font-size: 50px;
}